.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    background-color: hsl(0, 0%, 0%, 0.55);
    z-index: 6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.4s ease;
}

.navbarWhite {
    background-color: white;
    -webkit-box-shadow: 0px 4px 5px -1px rgb(211, 211, 211);
    -moz-box-shadow: 0px 4px 5px -1px rgb(211, 211, 211);
    box-shadow: 0px 4px 5px -1px rgb(211, 211, 211);
}

.navbarHeader {
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    font-size: 27px;
    color: white;
    margin-bottom: 0px;
    cursor: default;
    padding: 12px 25px;
}

.navbarWhite .navbarHeader {
    color: var(--dark-font-color);
}

.navbarContent {
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
}

.navbarLink {
    position: relative;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 21px;
    color: white;
    padding: 12px 10px;
    margin: 0px 20px;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.navbarWhite .navbarLink {
    color: var(--dark-font-color);
}

.navbarLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}

.navbarWhite .navbarLink::after {
    background: var(--dark-font-color);
}

.navbarDropdown {
    position: absolute;
    left: -22.5px;
    bottom: -175px;
    width: auto;
    height: auto;
    background-color: hsl(0, 0%, 0%, 0.55);
    z-index: 6;
    border-radius: 6px;
    padding: 6px 0px;
    display: none;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s ease;
}

.navbarWhite .navbarLink .navbarDropdown {
    background-color: white;
    -webkit-box-shadow: 0px 4px 5px -1px rgb(211, 211, 211);
    -moz-box-shadow: 0px 4px 5px -1px rgb(211, 211, 211);
    box-shadow: 0px 4px 5px -1px rgb(211, 211, 211);
}

.navbarDropdown > span {
    width: max-content;
    display: flex;
    position: relative;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 12px 35px;
    transition: all 0.3s ease-in-out;
}

.navbarWhite .navbarLink .navbarDropdown > span {
    color: var(--dark-font-color);
}

.navbarDropdown > span > svg {
    margin-right: 14px;
    position: relative;
    top: 3px;
}

.mobileMenuButton {
    margin-left: auto;
    margin-right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.navbarWhite .mobileMenuButton {
    color: var(--dark-font-color);
}

.mobileMenu {
    padding-top: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.closeIcon {
    margin-left: auto;
    color: var(--dark-font-color);
    margin-right: 20px;
    font-size: 30px;
    margin-bottom: 18px;
    cursor: pointer;
}

.mobileMenu .mobileLink {
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: var(--dark-font-color);
    padding: 18px 20px;
    border-bottom: 1px solid rgb(231, 231, 238);
    width: 90%;
}

.mobileMenu .mobileDropdown {
    margin-top: 5px;
    width: 90%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
}

.mobileMenu .mobileDropdown .mobileDropdownLink {
    display: flex;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: var(--dark-font-color);
    padding: 12px 10px;
    cursor: pointer;
}

.mobileMenu .mobileDropdown .mobileDropdownLink > svg {
    margin-right: 14px;
    position: relative;
    top: 3px;
}

@media (max-width: 576px) {
    .mobileMenuButton {
        display: block;
    }

    .navbarContent {
        display: none;
    }
}

@media (hover) {
    .navbarLink:hover {
        color: white;
        text-decoration: none;
    }

    .navbarWhite .navbarLink:hover {
        color: var(--dark-font-color);
    }

    .navbarLink:hover::after {
        transform: scaleX(1);
    }

    .navbarDropdown:hover {
        display: flex;
    }

    .navbarLink:hover > .navbarDropdown {
        display: flex;
    }

    .navbarDropdown > span:hover {
        color: var(--contrast-orange);
        background-color: white;
    }

    .navbarWhite .navbarLink .navbarDropdown > span:hover {
        color: var(--contrast-orange);
        background-color: ghostwhite;
    }
}