:root {
  --dark-font-color: #25265e;
  --contrast-orange: #FF884B;
  --contrast-red: #E0144C;
  --toned-blue: rgb(33, 85, 205);
}

.body {
  margin: 0px !important;
}

body {
  scrollbar-width: thin;          
  scrollbar-color: #011d4f #040628;    
}

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background: white;        
}

body::-webkit-scrollbar-thumb {
  background-color: #040628;    
  border-radius: 20px;       
  border: 3px solid white;  
}

.projectShortcutQuarere::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: 0.15; 
  z-index: -1;
  background: url('/public/images/quarere-background.png');
}

.projectShortcutItQuest::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: 0.15; 
  z-index: -1;
  background: url('/public/images/it-quest-background-2.png');
}

.projectShortcutCodex::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: 0.15; 
  z-index: -1;
  background: url('/public/images/Codex-background-2.png');
}

.lifting-button {
  align-items: center;
  appearance: none;
  background: linear-gradient(90deg, #E0144C, #FF884B);
  border-radius: 12.5px;
  border-width: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 300px;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.lifting-button svg {
  margin-left: 20px;
}

.lifting-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  transform: scale(1.05);
  background: white;
  color: #FF884B;
}

.lifting-button:active {
  transform: translateY(2px);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  transform: scale(1.05);
  background: white;
  color: #FF884B;
}

.universalHeader {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: var(--dark-font-color);
  cursor: default;
  margin-bottom: 15px;
}

.universalSubHeader {
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--dark-font-color);
  cursor: default;
  margin-bottom: 10px;
  text-align: justify;
}

/* Scrolldown element */

.scrolldown {
  --color-scrolldown: yellow;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color-scrolldown);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color-scrolldown);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevronDown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color-scrolldown);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevronDown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}

.chevronDown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

